.popup {
  width: 300px;
  height: 400px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  transition: all 0.2s;
  display: none;
}

.popup-overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.popup-overlay:target{
  display: block;
}

.popup-overlay:target + .popup {
  display: block;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  font-size: 30px;
}